#interface {
    width: 100%;
    height: 120vh;
    background-color: rgba(15,25,36,0.95);
    z-index: 100;
    position: relative;
}
#planet {
    position: absolute;
    width: 25%;
    margin-top: 15%;
    margin-left: 40%;
}
#iconsContainer {
    position: absolute;
    width: auto;
    height: 10%;
    margin-top: 50%;
    margin-left: 45%;
    z-index: 100000;
}

.icon:hover {
    width: 20%;
}

#marsIcon {
    float: left;
    width: 10%;
    margin-top: 5%;
}
#neptunIcon {
    float: left;
    width: 20%;
    margin-left: 10%;
}

#neptunIcon:hover {
    width: 25%;
}

#atmosphereCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.8;
}
#circle1:hover {
    border: 1px solid white;
}