body {
    font-family: Montserrat, sans-serif;

}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.jumbotron {
    background-color: #202e3b;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 50vh;
}
#main {
    top: 50vh;
    position: relative;
    background-color: #efeae7;
    color: #d2524a;
    padding: 50px;
}

.row {
    /*padding: 50px 0px;*/
    margin-left: -50px !important;
    margin-right: -50px !important;
    padding: 0px;
    min-height: 60px;
}


.textContainer {
    font-family: Montserrat, sans-serif;
    color: #efeae7;
}



.dropButton {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #202e3b;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #202e3b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
}

.dropdownContent a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdownContent a:hover  {
    background-color: #efeae7;
    color: #202e3b;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropButton {
    background-color: #efeae7;
    color: #202e3b;

}
.navbar {
    margin-bottom: 0;
    background-color: #202e3b;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: white !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: white !important;
}

.planetContainer {
    background-color: #202e3b;
}

#erde_mond {
    padding: 10px;
}

#erdeDiv {
    margin-top: 15%;
    margin-left: 25%;
}

#erde {
    width: 300px;
    height: 300px;
}
#mondDiv {
    top: 15%;
    margin-left: 75%;

    width: 100px;
    height: 100px;
    position: absolute;
}

#mond {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: relative;
}

.textContainer {
    padding: 50px 25px;
}

#diashowRow {
    padding-left: 40px;
    padding-right: 40px;
}

#diashowContainer {
    padding: 50px;
}

#diashow {
    width: 100%;
    position: relative;

}
.slide {
    display: none;
}

.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.arrow {
    width: 20px;
}
.arrow2 {
    position: absolute;
    width: 20px;
    z-index: -1;
    opacity: 0.5;
    margin-left: 4px;
    margin-top: -32px;
}

#shadowRight {
    margin-left: -4px;
}

#arrowleft:hover {
    transform: translate(2px, 3px);
}
#arrowRight:hover {
    transform: translate(-2px, 3px);
}
#arrowleft:active {
    transform: translate(4px, 7px);
}
#arrowRight:active {
    transform: translate(-4px, 7px);
}

#links {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border-radius: 0 5px 5px 0;
    left: 5px;
    z-index: 1000;
}

#rechts {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right:5px;
    border-radius: 5px 0 0 5px;
    z-index: 1000;
}

#links:hover, #rechts:hover {
}


#diashowDots {
    text-align: center;
    padding: 5px;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #b4b5ba;
    display: inline-block;
}
.active {
    background-color: #2d2e32;
}

#merkur {
    width: 150px;
    height: 150px;
}
#merkurDiv {
    margin-top: 20%;
    margin-left: 40%;
}


